@import "tailwindcss";
@plugin "@tailwindcss/typography";


@theme {
  --color-surface: #ffffff;
  --color-on-surface: #171717;
  --color-surface-dim: #f9fafb;
  --color-surface-variant: #e5e7eb;
  --color-on-surface-variant: #4b5563;
  
  --color-surface-container-low: #ffffff;
  --color-surface-container: #f9fafb;
  --color-surface-container-high: #f3f4f6;
  --color-surface-container-highest: #e5e7eb;
  
  --color-primary: #eab308; /* Yellow 500 */
  --color-on-primary: #171717;
  --color-primary-container: #fef08a; /* Yellow 200 */
  --color-on-primary-container: #713f12; /* Yellow 900 */
  
  --color-secondary: #000000;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #f3f4f6;
  --color-on-secondary-container: #111827;
  
  --color-outline: #d1d5db;
  --color-outline-variant: #e5e7eb;
  
  --color-error: #ef4444;
  --color-on-error: #ffffff;
  --color-error-container: #fee2e2;
  --color-on-error-container: #991b1b;
  
  --radius-DEFAULT: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;

  --font-headline: var(--font-space-grotesk);
  --font-body: var(--font-newsreader);
  --font-label: var(--font-inter);
}

@utility glow-hover {
  &:hover {
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
    transform: translate(-2px, -2px);
  }
}

@layer base {
  body {
    background-color: var(--color-surface);
    color: var(--color-on-surface);
  }
}
